main {
  display: grid;
  place-items: center;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  gap: 20px;
}

article {
}

article > h1 {
}
