@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}
@layer base {
  body {
    @apply bg-gray-900 text-gray-200;
  }
}
.prose img {
  @apply w-full h-96 object-cover rounded-lg shadow-lg object-center;
   

   view-timeline-name: --reveal;
   animation-name: show;
   animation-fill-mode: both;
   animation-timeline: --reveal;
   animation-range: entry 25% cover 50%
}

@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
